{
    "all": true,
    "lines": 100,
    "branches": 100,
    "functions": 100,
    "extension": [
      ".js"
    ],
    "include": "build",
    "reporter": [
      "text-summary",
      "html"
    ]
}