---
---

@import "{{ site.theme }}";

a {
    &:hover {
         font-weight: initial;
         text-decoration: underline;
     }
}

.wrapper {
  width: 100%;
}

section {
  width: 70%;
}

header, footer {
  width: 30%;
}