---
---

@import "{{ site.theme }}";

body {
  margin: 0;
  padding: 20px 0;

  @media print, screen and (min-width: 960px) {
    padding: 40px 0;
  }
}

a {
    &:hover {
         font-weight: initial;
         text-decoration: underline;
     }
}

div.wrapper {
  width: 90%;
  box-sizing: border-box;
  margin: auto;

  @media print, screen and (min-width: 960px) {
    width: 90%;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

section {
  width: auto;

  @media print, screen and (min-width: 960px) {
    width: 70%;
  }
}

header, footer {
  width: auto;

  @media print, screen and (min-width: 960px) {
    width: 24%;
  }
}